.component-app-layout-top-center-bottom {
  .section-top {
    .flex-shrink(0);
    .z-depth-2dp();
    z-index: 1;
    background-color: lighten(@primary-border-color, 10%);
    padding: 2px
  }
  .section-center {
    .flex-grow(1);
    overflow: auto;
  }
  .section-bottom {
    .flex-shrink(0);
    .z-depth-2dp-inverse();
    z-index: 1;
    background-color: lighten(@primary-border-color, 10%);
    padding: 2px;
    font-size: 95%;
  }
}
