{{input type='text' class='form-control' placeholder='Search for...' value=search}}
<span class="input-group-btn" {{action 'on-change-filter-name'}}>
    {{elements/button-default icon='search'}}
</span>
{{yield}}