{{#e-form/fields model=model bindTo=fields as |form|}}
  <div class="three fields">
    {{form.text label='First Name' value=model.firstName required=true}}
    {{form.text label='Last Name' value=model.lastName required=true}}
    {{form.text label='Middle Name' value=model.middleName}}
  </div>
{{/e-form/fields}}