{{#e-layout/top-center-bottom class='storage-books-edit' as |layout|}}
  {{#layout.top class='ui segment'}}
    <div class="ui breadcrumb">
      {{#link-to 'storage.books.book' class="section"}}Books{{/link-to}}
      <span class="divider">/</span>
      <div class="active section">{{model.title}}</div>
    </div>
  {{/layout.top}}

  {{#layout.center}}
    {{e-app/books/book/edit-frame model=model bindTo=editFrame}}
  {{/layout.center}}

  {{#layout.bottom class='ui segment page-bottom'}}
    {{#e-button/standard icon='plus' action='commit'}}Save{{/e-button/standard}}
    {{#e-button/standard icon='remove' action='cancel'}}Close{{/e-button/standard}}
  {{/layout.bottom}}
{{/e-layout/top-center-bottom}}