<div class="ui fixed menu">
  <div class="ui container">
    <a href="#" class="header item">
      Warehouse
    </a>
    {{#each menu as |button|}}
      <div class="ui simple dropdown item">
        {{button.name}} <i class="dropdown icon"></i>
        <div class="menu">
          {{e-menu/item menu=button.menu}}
        </div>
      </div>
    {{/each}}
  </div>
</div>