<table class='table table-bordered table-condensed'>
  {{#if hasBlock}}
    {{yield (hash
              columns=(component 'e-table/columns' items=columnsConfig grid=grid table=this)
              rows=(component 'e-table/rows' items=rows grid=grid table=this)
            ) this}}
  {{else}}
    {{component 'e-table/columns' items=columnsConfig grid=grid table=this}}
    {{component 'e-table/rows' items=rows grid=grid table=this}}
  {{/if}}
</table>