{{#if static}}
  <p class="form-control-static">{{currentValue}}</p>
{{else}}
  {{textarea class="form-control" placeholder=placeholder value=currentValue rows=rows resiziable=false}}
  {{#if errors}}
    <span class="help-block">
      {{#each errors as |error|}}
        {{error}}<br>
      {{/each}}
    </span>
  {{/if}}
{{/if}}