{{#if static}}
  <p class="form-control-static">{{currentValue}}</p>
{{else}}
  {{#if label}}
    <label>{{label}}</label>
  {{/if}}

  {{input type='text' placeholder=placeholder value=currentValue}}
{{/if}}