{{#if static}}
  <p class="form-control-static">{{currentValue}}</p>
{{else}}
  {{#if label}}
    <label>{{label}}</label>
  {{/if}}

  {{textarea placeholder=placeholder value=currentValue rows=rows resiziable=false}}
{{/if}}