<div class="ui action fluid input small e-searching-buttons">
  {{input type='text'
          placeholder='Search for...'
          value=searchText
          keyPress=(action 'searchKeyPress')}}
  {{#if searchedText}}
    {{e-button/standard icon='remove' action='reset'}}
  {{else}}
    {{e-button/standard icon='search' action='search'}}
  {{/if}}
</div>