<div class="container-fluid" style="margin-top: 20px">
  <div class="jumbotron">
    <h1>Warehouse!</h1>
    <p>This is a sample application that shows how Spring and EmberJS can works together.</p>
    <p>
      {{#link-to 'storage.books.book' class='btn btn-primary btn-lg'}}Learn more{{/link-to}}
    </p>
  </div>
</div>